.students{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.grade {
    padding: 25px;
    text-align: center;
}

li {
    list-style: none;
    line-height: 1.5rem;
}

h3 {
    padding-bottom: 1rem;
}