.students{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.grade {
    padding: 25px;
    text-align: center;
}

li {
    list-style: none;
    line-height: 1.5rem;
}

h3 {
    padding-bottom: 1rem;
}

.drumline::after {
    content: " 🥁"
}

.guard::after {
    content: " 🚩"
}

/* .flute::before {
    content: url("")
}

.clarinet::before {
    content: "+"
}

.saxophone::before {
    content: url("")
}

.trumpet::before {
    content: url("/Users/fcadiz/Desktop/personal_projects/jshs2022/public/images/trumpet.png");
}

.trombone::before {
    content: url("")
}

.baritone::before {
    content: url("")
}

.tuba::before {
    content: url("")
}

.percussion::before {
    content: url("")
} */